/*
  This is the custom css file.
  Within this file it is possible to alter the id's and classes for the manual.
 */
@import "asciidoctor.css";

input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.sticky {
  padding: 10px 16px;
  background: white;
  color: #f1f1f1;
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  max-width: 970px;
  /*Make sure the search panel is always on top*/
  z-index: 10000;
}

.sticky + #content {
  padding-top: 102px;
}

#search {
  width: 100%;
  padding: 6px 10px;
  background: #f2f2f2;
  font-size: 16px;
  border: none;
  cursor: pointer;
  height: 32px;
  /*Make sure the search panel is always on top*/
  z-index: 10001;
}

body {
}

#header {
}

/********************
  Tabel of content
*********************/
.sidebar {
}

#toctitle {
}

/*
 This property is to change the toc as a whole
 eg. background-color: ...;
 changes the background color of the whole table
 */
#header > h1:first-child + #toc {
}

/* Table of content first section */
.sectlevel1 {
}

/* Table of content second section */
.sectlevel2 {
}

/* Table of content third section */
.sectlevel3 {
}

/* Table of content fourth section */
.sectlevel4 {
}

/****************************
  All content related stuff
*****************************/
#content {
  padding: 16px;
}

/*
When a title of a chapter need to changed, the id of this section should be specified
Often this is _{nameOfSection} E.g. _overzicht
*/
#_overzicht {
}

#_coach {
}

/* This is generated underneath the title of a chapter.*/
.sectionbody {
}

/* actual content within a sectionbody */
.paragraph {
}

/* unorderd list */
.ulist {
}

/* ordered list */
.olist {
}

/* made ordered lists have the same layout as in the pictures */
ol {
  display: block;
  padding: 0 0 0 26px;
  list-style: none;
  overflow: hidden;
  counter-reset: numList;
}

ol li {
  position: relative;
}

ol li:before {
  counter-increment: numList;
  content: counter(numList);

  position: absolute;
  left: -26px;

  font-size: 14px;
  text-align: center;
  color: black;

  width: 24px;
  height: 24px;
  background: red;

  -moz-border-radius: 999px;
  border-radius: 999px;
  border: solid black 1px;
}

/********************
  Image content
*********************/
.imageblock {
}

/*
This class is ONLY used when an image block is created.
The property evaluate the subtext underneath an property
*/
.title {
}

/********************
  Footer content
*********************/
#footnotes {
}

#footer {
}

#footer-text {
}